// Inter = English
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-ExtraLight.woff2");
  font-display: swap;
  font-weight: 200;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-Light.woff2");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-Regular.woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-Medium.woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-SemiBold.woff2");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-Bold.woff2");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-ExtraBold.woff2");
  font-display: swap;
  font-weight: 800;
}
// neo sans = Arabic
@font-face {
  font-family: "NeoSans";
  src: url("../../assets/fonts/NeoSansArabicLight.woff2");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "NeoSans";
  src: url("../../assets/fonts/NeoSansArabicRegular.woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "NeoSans";
  src: url("../../assets/fonts/NeoSansArabicMedium.woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "NeoSans";
  src: url("../../assets/fonts/NeoSansArabicBold.woff2");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "NeoSans";
  src: url("../../assets/fonts/NeoSansArabicBlack.woff2");
  font-display: swap;
  font-weight: 900;
}
